@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base{
    html{
        @apply font-redHat bg-gray-200 overflow-x-hidden
    }
}
@keyframes yourAnimation{
    0%{
        transform: rotate(0) scale(1);
        }
    75%{
        transform: rotate(0) scale(1);
        }
    80%{
        transform: rotate(-45deg) scale(1);
        }
    85%{
        transform: rotate(45deg) scale(1.1);
        }
    90%{
        transform: rotate(-45deg) scale(1.1);
        }
    95%{
        transform: rotate(45deg) scale(1.1);
        }
    100%{
        transform: rotate(0) scale(1);
        }
}
body{
    @apply overflow-x-hidden
}
.animate-shake{
    animation: yourAnimation 5s infinite 0s ease;
}
a{
    color: #010;
}
a:hover{
    color: navy;
}
#navbar{
    grid-template-columns: auto 1fr;
    @apply grid items-center;
}
ul{
    @apply list-none
}
#lg-menu{
    @apply flex items-center justify-end
}
#lg-menu>ul{
    @apply flex;
}
#lg-menu>ul>li>a,#sm-menu>ul>li>a{
    @apply block px-5 py-2 font-bold text-lg no-underline relative;
}
#lg-menu ul li a::after,#lg-menu ul li a::before{
    content: '';
    width: 0;
    height: 3px;
    background: navy;
    transition: .5s ease-in-out;
    @apply absolute bottom-0 
}
#lg-menu ul li a::after{
    @apply right-0;
}
#lg-menu ul li a::before{
    @apply left-0;
}
#lg-menu ul li a:hover::after,#lg-menu ul li a:hover::before{
    @apply w-1/2;
}

#lg-menu #toggler,#sm-menu{
    @apply hidden
}
@media only screen and (max-width: 650px){
    #lg-menu #toggler,#hider{
        @apply p-0 text-4xl cursor-pointer font-extrabold block;
    }
    #lg-menu ul{
        @apply hidden
    }
    #sm-menu{
        width: 250px;
        transition: transform 1s ease;
        @apply flex h-screen flex-col fixed top-0 right-0 bottom-0 bg-gray-300;
    }
    #sm-menu ul{
        @apply flex-col flex items-center;
    }
    #hider{
        @apply text-right
    }
    #hider:hover{
        color: navy;
    }
    #sm-menu.hide{
        transform: translate(300px);
    }
}
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  input:focus,textarea:focus{
      @apply shadow-outline outline-none 
  }
  input,textarea{
      @apply my-1 box-border p-2 rounded-lg
  }